#p1::before{
    content: "przed elementem";
    color:red;
}
#p2::after{
    content: "po elemencie";
    color:hotpink;
}
#p3::first-letter{
   text-transform: uppercase;
    color:green;
}
#p4::first-line{
    color:yellow;
}
p::selection{
    background-color: cyan;
}