#tlo-obrazek {
    background-color: beige;
    background-image: url("../img/truskawka.png");
    background-repeat: repeat-x;
    background-position: top center;
    background-attachment: fixed;
}